<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "Parent.html" %}
    <meta charset="UTF-8">
    {% block head %}
        {% block title %} New Log Entry {% endblock %}
    {% endblock %}

</head>
<body>
{% block main %}
    <h1>New Log Entry</h1>
    <form action="/createLog" method="post">
        Date: <input type="date" name="Date"><br>
        <br>
        Aircraft Type: <input type="text" name="AirType"><br>
        <br>
        Aircraft Ident: <input type="text" name="AirIdent"><br>
        <br>
        From (Airport): <input type="text" name="From" maxlength="4"><br>
        <br>
        To (Airport): <input type="text" name="To" maxlength="4"><br>
        <br>
        Number of Takeoffs: <input type="number" name="Takeoff"><br>
        <br>
        Number of Landings: <input type="number" name="Landing"><br>
        <br>
        Flight Time: <input type="time" name="FlightTime" ><br>
        <br>
        Remarks <br>
        <textarea rows="4" cols="50" name="Rmk"></textarea>
        <br>
        <input type="hidden" name="ident" value="{{ ident }}">
        <input type="submit" value="File Log">
    </form>

{% endblock %}
</body>
</html>